/**
 * @name         AW add-on
 * @description  personal add-on for lolpowerluke's AlanWalker theme.
 * @author       JVY
 * @version      1.1.01
 * @source       https://github.com/lolpowerluke/bd-themes/blob/main/AlanWalkerTheme/alanWalker.theme.css
 * @website      https://github.com/lolpowerluke
*/

/*Imports*/
/*USRBG*/
@import url("https://lolpowerluke.github.io/bd-themes/USRBG.css");
/*User Settings*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/userSetting.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css"); /*Thanks to DevilBro for letting me use this*/
/*Popouts*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/popouts.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/userPopouts/bigUserPopout.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/userPopouts/smallUserPopout.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css"); /*Thanks to Disease for creating this*/
/*Embeds*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/embeds.css");
/*Seperators*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/separators.css");
/*Buttons*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/buttons.css");
/*Scrollbar*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/scrollbar.css");
/*Plugin compatibility*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/plugins.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/plugins.css");
/*Server bar*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/serverList.css");
/*Message bar*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/ConsistantChatbar.css"); /*Thanks to dablulite for creating this*/
/*Trivia*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/trivia.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/trivia/friendListPlayingCards.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/streamerMode.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/dmSideUserPanel.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/guildUserButtons.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/memberList.css");
/*Other Stuff*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/version.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/serverChannels.css");
@import url("https://lolpowerluke.github.io/smallDMchannelList/smallDMchannelList.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/statusPicker.css");
/*Work in Progress*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/WIP.css");
/*Snippets*/
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css"); /*Thanks to Disease for creating this*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/audioFileRedesign.css"); /*Thanks to davart154 for creating this*/

/*Imports*/
/*Popouts*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/popouts.css");
/*Embeds*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/embeds.css");
/*Seperators*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/separators.css");
/*Buttons*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/buttons.css");
/*Plugin compatibility*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/plugins.css");
/*Server bar*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/serverList.css");
/*Message bar*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/ConsistantChatbar.css"); /*Thanks to dablulite for creating this*/
/*Trivia*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/trivia.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/trivia/friendListPlayingCards.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/trivia/transparency.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/trivia/panels.css");
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/trivia/oldChatbar.css"); /* Thanks to davart154 for creating this */
/*Other Stuff*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/statusPicker.css");
/*Snippets*/
@import url("https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/visual-refresh/audioFileRedesign.css"); /*Thanks to davart154 for creating this*/

.tutorialContainer_c96c45 {
  position: sticky !important;
  bottom: 0 !important;
}
.tutorialContainer_c96c45 .listItem_c96c45 {
  margin: 0 !important;
}
.footer_aa1bff {
  margin-top: 8px !important;
}

.guilds_a4d4d9 {
  margin-bottom: 111px !important;
}

:root.theme-light,
:root.theme-dark,
:root {
  /*title bar*/
  --title-bar-color: rgba(
    28,
    133,
    2,
    0.6
  ) !important; /*change to --title-bar-color*/

  /*Theme Dependent Stuff*/
  --title-bar-content: "GJX_JVY" !important;
  /* background picture */
  --main-background: url("https://i.imgur.com/pbKjJeR.png") center right
    no-repeat !important;
  /* selected friends chat */
  --back-selected-dm-pic: url("https://i.imgur.com/4qk9FUU.png") center right
    no-repeat !important;
  /* home button to friends list */
  --home-button-background: url("https://i.imgur.com/I0lWnI3.png") !important;

  /*boxes*/
  --back-color-boxes: rgba(73, 73, 73, 0.2) !important;
  --back-color-boxes-hover: rgba(90, 90, 90, 0.4) !important;
  --back-color-danger-boxes: rgba(255, 0, 0, 0.5) !important;
  --back-color-danger-boxes-hover: rgba(255, 0, 0, 0.7) !important;

  /*buttons*/
  --back-color-danger-button: rgb(47, 2, 90) !important;
  --back-color-button: #008549fa !important;

  /*switches*/
  --switch-off: rgba(255, 255, 255, 0.5) !important;
  --switch-on: rgba(65, 65, 65, 0.829) !important;

  /*badges*/
  --back-color-number-badges: rgb(177, 179, 199) !important;

  /*playing card border color*/
  --playing-card-border: rgb(88, 88, 88) !important;
  --separator: 77, 77, 77 !important;

  --back-user-buttons: rgba(255, 255, 255, 0.116) !important;
  --selected-dm-color: rgba(255, 176, 251, 0.877) !important;

  /*unread pill*/
  --unread-pill: rgb(217, 135, 255) !important;
  --unread-pill-shadow: rgb(252, 216, 250) !important;

  /*plugin colors*/
  --permission-header: rgb(0, 0, 0) !important;
  --permission-role-side: rgba(0, 0, 0, 0.575) !important;
  --permission-perm-side: rgba(0, 0, 0, 0.678) !important;
  --image-utils-back: black !important;
  --image-utils-border: rgb(59, 59, 59) !important;
  --back-channel-tabs: rgb(22, 22, 22) !important;
  --back-channel-tabs-selected: rgb(46, 46, 46) !important;

  /*status colors*/
  --offline: #747f8d !important;
  --streaming: #a068ff !important;

  /*settings*/
  --back-seeting-account-cards: rgba(43, 43, 43, 0.75) !important;
  --back-seeting-account-cards-buttons: rgba(78, 78, 78, 0.5) !important;
  --back-seeting-account-cards-buttons-hover: rgba(78, 78, 78, 0.25) !important;
  /*discords integrated colors*/
  --interactive-normal: white !important;
  --interactive-active: white !important;
  --interactive-hover: white !important;
  --channels-default: white !important;
  --background-primary: rgba(44, 9, 53, 0.5) !important;
  --background-secondary: rgba(67, 8, 90, 0.25) !important;
  --background-secondary-alt: var(--back-color-boxes) !important;
  --background-tertiary: rgb(60, 1, 87) !important;
  --background-floating: rgb(48, 0, 104) !important;
  --background-mentioned: rgba(174, 0, 255, 0.3) !important;
  --background-modifier-hover: rgb(66, 0, 66) !important;
  --background-modifier-selected: rgb(36, 8, 59) !important;
  --background-modifier-selected-hover: rgb(48, 0, 77) !important;
  --info-warning-foreground: rgb(183, 0, 255) !important;

  /*server folders*/
  --back-expanded-server-folder-icon: rgb(69, 12, 95) !important;
  --back-expanded-server-folder: rgba(40, 150, 30, 0.2) !important;

  /*other stuff*/
  --channeltextarea-background: rgba(30, 170, 33, 0.1) !important;
  --back-color: rgb(77, 0, 139) !important;
  --gr-dm-headers: linear-gradient(
    to right,
    transparent,
    rgb(49, 0, 105)
  ) !important;
  --back-selected-dm: rgba(28, 133, 2, 0.6) !important;
  --text-link: #00ff15 !important;
  --text-link-back: none !important;
  --text-focus: white !important;
  --back-account: black !important;
  --standard-account-height: 52px !important;
  --popout-header: rgb(3, 3, 3) !important;
  --popout-scroller: rgb(41, 41, 41) !important;
  --create-server: rgba(0, 0, 0, 0.911) !important;
  --create-server-text-color: rgb(255, 255, 255) !important;
  --create-server-choices: black !important;
  --create-server-choices-border: rgb(255, 0, 0) !important;
  --create-server-footer-button: black !important;
  --create-server-footer-button-hover: rgba(255, 255, 255, 0.123) !important;
  --upload-popout-footer: rgba(0, 0, 0, 0.644) !important;
  --upload-popout-top: rgb(0, 0, 0) !important;
  --upload-popout-seperator: rgb(255, 255, 255) !important;
  --back-color-search-bar: rgba(83, 83, 83, 0.349) !important;
  --screen-share-main: rgba(0, 0, 0, 0) !important;
  --avatar-radius: 5px !important;
  --role-circle: 5px !important;
  --message-hover: rgba(95, 95, 95, 0.267) !important;
  --typing-border: rgb(122, 122, 122) !important;
  --border-zoom: rgb(121, 121, 121) !important;
  --back-activity-panels: rgb(91, 65, 112) !important;
  --back-gradient-opacity: 1 !important;
  --back-gradient-top: 56, 1, 82 !important;
  --back-gradient-bottom: 0, 40, 0 !important;
  --profile-gradient-button-color: rgba(47, 2, 90, 0.829) !important;

  /*menu*/
  --menu-item-hover-color: rgb(170, 170, 170) !important;

  /*forums*/
  --back-color-forum-posts: rgb(47, 2, 90) !important;
  --back-color-forum-posts-hover: rgba(34, 34, 34, 0.575) !important;

  /*user popouts*/
  --big-user-popout: black !important;
  --big-user-popout-body: black !important;
  --big-user-popout-topsection: black !important;
  --big-user-popout-avatar: black !important;
  --user-popout: black !important;
  --user-popout-alt: rgba(0, 0, 255, 0.24) !important;
  --back-small-user-popout-badges: rgba(0, 0, 0, 0.75) !important;
  --user-popout-gradient-bottom: rgb(10, 10, 10) !important;
  --user-popout-gradient-top: rgb(35, 35, 35) !important;
  --profile-body-background-color: rgb(48, 0, 70) !important;
  --back-user-area: rgba(1, 43, 1, 1) !important;
  /* right here */

  /*plugin popups*/
  --back-color-tooltips: black !important;
  --back-channel-dms: rgb(47, 2, 90) !important;
  --back-server-themes-choice-button: rgb(47, 2, 90) !important;
  --back-friend-notifications: rgb(47, 2, 90) !important;
  --back-better-message-links: rgb(47, 2, 90) !important;
  --back-powercord-notices: rgb(47, 2, 90) !important;

  /*scroller (I think)*/
  --back-color-menu: rgb(0, 0, 0) !important;
  --back-role-scroller: black !important;

  /* message separator*/
  --message-separator-line: rgba(17, 0, 255, 0.5) !important;
  --unread-message: rgb(255, 94, 0) !important;
  --unread-message-line: rgb(255, 94, 0) !important;

  /*emoji & gif*/
  --back-emoji-etc-picker: black !important;
  --back-button-gifemoji-picker: rgba(119, 0, 255, 0.5) !important;

  /*other stuff I tried to make work*/
  --scrollbar-auto-scrollbar-color-thumb: red !important;
  --scrollbar-auto-scrollbar-color-track: blue !important;

  /*other*/
  --backdrop: hsl(0, 0%, 0%, 0.6) !important;
  --back-sidebar: rgb(46, 0, 77) !important;

  /*Window width 700px or smaller*/
  --back-user-buttons-700: rgb(0, 0, 0, 0.2) !important;
  --back-user-buttons-hover-700: rgba(255, 255, 255, 0.2) !important;
  --guild-bar-width-700: 56px !important;
}

/* home button for friends list */
.childWrapper__6e9f8 > svg {
  -webkit-mask: unset !important;
  background-image: var(--home-button-background) !important;
  background-position: -7px -7px !important;
  background-size: 45px 45px !important;
  background-color: transparent !important;
}

.embedFull_b0068a {
  border-color: #802b8c !important;
}
